.SucessOrder {
  :global {
    margin: 121px 0px 250px 0px;
    .order-details {
      h2 {
        color: #1b3275;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 25px;
      }
      .order-details-row {
        display: flex;
        margin-bottom: 16px;

        h5 {
          color: #444;
          font-size: 16px;
          font-weight: 500;
          span {
            margin: 0px 5px;
          }
        }

        p {
          color: #444;
          font-size: 15px;
          font-weight: 300;
          margin: 0px 5px;
        }
      }
    }

    .order-table {
      margin-top: 65px;
      table {
        thead {
          border-radius: 8px;
          background: #f8f8f8;
          th {
            color: #444;
            font-size: 16px;
            font-weight: 400;
            padding: 21px 25px;
          }
        }

        tbody {
          tr:nth-child(1){
            border-bottom: 1px solid #eee;
          }
          tr:nth-child(2){
            border-bottom: 1px solid #eee;
          }
          td {
            color: rgba(68, 68, 68, 0.8);
            font-size: 16px;
            font-weight: 400;
            padding: 21px 25px;
          }

          .td-title {
            color: #444;
            font-size: 14px;
            font-weight: 500;
          }

          .td-subtotal {
            border-radius: 8px;
            background: #f8f8f8;
          }
        }
      }
    }
  }
}
