.footerSection {
  :global {
    width: 100%;
    min-height: 380px;
    background-image: url(../assets/images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 0px 0px;
    [data-theme="dark"] & {
      background-color: #17191a;
    }

    h4 {
      margin-bottom: 25px;
      position: relative;
      color: #000;
      font-size: 18px;
      font-weight: 700;

      @media (max-width: 991px) {
        font-size: 15px;
      }
    }

    .footer-logo-img {
      width: 150px;
      height: 50px;
      @media (max-width: 1199px) {
        margin: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .footer-intro {
      margin: 25px 0px;
      line-height: 28px;
      width: 90%;
      color: #565656;
      font-size: 12px;
      font-weight: 300;

      @media (max-width: 1199px) {
        width: 100%;
        text-align: center;
      }
    }

    .socials {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 35px;

      @media (max-width: 991px) {
        justify-content: center;
        margin-bottom: 35px;
      }

      a {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-left: 15px;
        [dir="ltr"] & {
          margin-right: 15px;
          margin-left: 0px;
        }
        img {
          width: 100%;
          height: 100%;
        }

        @media (max-width : 767px) {
          svg{
            filter : brightness(0.5);
          }
        }
      }
    }

    .help-list {
      position: relative;
      h4 {
        width: 60%;
        margin: 0px 20%;

        @media (max-width: 1200px) {
          margin: 0px 5%;
        }

        [dir="ltr"] & {
          margin: 0px 10%;
        }
      }

      ul {
        width: 60%;
        margin: 0px 20%;
        [dir="ltr"] & {
          margin: 0px 10%;
        }

        @media (max-width: 1200px) {
          margin: 0px 5%;
        }

        li {
          margin: 14px 0px;
          a {
            transition: 0.3s;
            color: #565656;
            font-size: 14px;
            font-weight: 200;

            &:hover {
              padding: 0px 5px;
              color: #4158F2;
            }

            @media (max-width: 991px) {
              font-size: 12px;
            }
          }
        }
      }

      &::before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
      }

      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }

    .footer-contact {
      margin-right: 35px;
      margin-bottom: 35px;
      @media (max-width: 991px) {
        margin-right: 0px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;

          @media (max-width: 991px) {
            width: 100%;
            margin: 10px 0px;
          }

          a {
            display: block;
            margin: 10px 0px;
            color: #565656;
            @media (max-width: 991px) {
              font-size: 12px;
            }
          }

          p {
            color: #000;
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 15px;
            @media (max-width: 991px) {
              font-size: 14px;
            }
          }

          span {
            color: #565656;
            margin: 0px;
            [dir="ltr"] & {
              margin: 0px;
            }
            @media (max-width: 991px) {
              font-size: 12px;
              margin: 10px 0px;
            }
          }
        }
      }
    }

    .line {
      background-color: rgba(255, 255, 255, 0.3);
      height: 2px;
      width: 100%;
      margin: 35px 0px 25px 0px;
    }

    .rights-section {
      background-color: #4158f2;

      .footer-flex {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 80px;
      }

      .rights-info {
        display: flex;
        flex-wrap: nowrap;
        direction: ltr;
        color: #fff;
        @media (max-width: 991px) {
          order: 2;
          margin: auto;
          flex-wrap: wrap;
          justify-content: center;
        }

        p {
          margin: 5px 10px;
        }
      }

      .sponsors {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        gap : 12px;
        @media (max-width: 991px) {
          order: 1;
          justify-content: center;
          width: 100%;
          margin-bottom: 25px;
          margin-top: 25px;
        }

        .sponsor-logo {
          width: 41px;
          height : 41px;
          border-radius : 50%;
          background-color : #fff;
          display : flex;
          justify-content: center;
          align-items: center;
          
          svg {
           width: 50%;
           height: 50%;
          }
        }
      }
    }
  }
}
