.advertise {
  :global {
    margin: 100px 0px;
    .advertise-large-card {
      position: relative;
      border-radius: 10px;
      margin-bottom: 30px;
      .advertise-large-img {
        position: relative;
        padding-top: 60%;
        border-radius: 10px;
        overflow: hidden;

        img {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          border-radius: 10px;
        }
      }
    }
    .intro-overlay {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    .advertise-small-card {
      position: relative;
      margin-bottom: 30px;
      border-radius: 10px;
      .advertise-small-img {
        position: relative;
        padding-top: 125%;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
      }

      img {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }

    .main-advertise {
      display: block;
      @media (max-width: 767px) {
        display: none;
      }
    }

    .advertise-slider {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }

    .offer-next,
    .offer-prev {
      background-color: transparent;
      border: 1px solid #000;
      display: inline-flex;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      width: 41px;
      height: 30px;
      [dir="ltr"] & {
        transform: rotate(180deg);
      }

      [data-theme="dark"] & {
        border: 1px solid #fff;
        svg {
          filter: brightness(0) invert(1);
        }
      }
    }

    .swiper-bttns {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin-top: 35px;
    }
  }
}
