.Categories {
  :global {
    margin: 100px 0px;
    .categories-card {
      padding: 15px;
      min-height: 360px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid #eaeaea;
      background: #fff;
      margin-bottom: 30px;
      .category-image {
        position: relative;
        overflow: hidden;
        padding-top: 68%;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
        }
      }

      .category-details {
        .category-name {
          color: #000;
          font-size: 14px;
          font-weight: 300;
          margin: 15px 0px;
        }
        .category-title {
          color: #000;
          font-size: 16px;
          font-weight: 500;
          margin: 15px 0px;
        }
      }

      .categories-shopping {
        border-radius: 10px;
        border: 1px solid #eaeaea;
        background: #fff;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        border-radius: 10px;
        height: 45px;
        gap :10px;
        margin: 15px 0px;

      }
    }
  }
}
