.filterSection {
  :global {
    margin: 100px 0px 60px 0px;

    .nav-tabs {
      border: 0px solid transparent !important;
      justify-content: center;
      width: 100%;
      margin: auto;
      gap: 65px;
      height: 45px;
      align-items: center;
      border-radius: 3px;
      margin-bottom: 50px !important;

      @media (max-width: 550px) {
        padding: 10px 0px;
        min-height: 50px !important;
        height: auto;
        gap: 15px;
      }

      .nav-link {
        border-radius: 10px;
        border: 1px solid #040414;
        padding: 15px 45px;
        color: #040414;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        [data-theme="dark"] & {
          border: 1px solid #fff;
        }

        &:active {
          border-radius: 10px;
          background: #4158f2;
          color: #fff;
          [data-theme="dark"] & {
            border: 1px solid #4158f2 !important;
          }
        }

        color: #000;
        font-weight: 300;

        [data-theme="dark"] & {
          color: #fff;
        }
      }

      .active {
        border-radius: 10px;
        background-color: #4158f2 !important;
        color: #fff;
        border: 1px solid #4158f2;
        [data-theme="dark"] & {
          border: 1px solid #4158f2 !important;
        }
      }

      .nav-item {
        button {
          background-color: transparent;
        }

        @media (max-width: 550px) {
          width: 100%;
          text-align: center;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
        }
      }
    }

    .main-card {
      background-color: #f6f6f6;
      border: 10px;
      padding: 21px;
      margin-bottom: 30px;
      width: 100%;
      min-height: 500px;
      border-radius: 10px;

      [data-theme="dark"] & {
        background-color: #242424;
      }

      .main-card-img {
        position: relative;
        width: 100%;
        height: 60%;

        [data-theme="dark"] & {
          background-color: #fff;
          border-radius: 10px;
          img {
            border-radius: 10px;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .overlay-link {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
        }

        .buttons-overlay {
          position: absolute;
          opacity: 0;
          bottom: 10px;
          display: flex;
          width: 100%;
          justify-content: center;
          flex-direction: row;
          z-index: 1;
          transition: all 0.3s ease-in-out;
          gap: 15px;
          z-index: 9;

          button {
            border: 0px solid transparent;
            background-color: #fff;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: 0.3s;
            border-radius: 10px;
            &:nth-of-type(2) {
              transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
              transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
              transition-delay: 0.3s;
            }

            img {
              width: 21px;
              height: 21px;
            }

            svg {
              transition: 0.3s;
              filter: brightness(1) invert(0);
            }

            &:hover {
              background-color: #4158f2;
              color: #fff;
              svg {
                filter: brightness(0) invert(1);
              }
            }
          }
        }
      }

      .main-card-title {
        color: #040414;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin: 30px auto 15px auto;
        display: block;
        [data-theme="dark"] & {
          color: #fff;
        }
      }

      .main-card-desc {
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin: 15px auto;
        [data-theme="dark"] & {
          color: #fff;
        }
      }

      .stars {
        margin: 15px 0px;
        text-align: center;
      }

      .main-card-price {
        display: flex;
        gap: 15px;
        margin: 15px auto;
        justify-content: center;

        .current-price {
          color: #040414;
          text-align: right;
          font-size: 16px;
          font-weight: 400;
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        .past-price {
          color: rgba(32, 32, 32, 0.3);
          font-size: 14px;
          font-weight: 400;
          text-decoration: line-through;
          [data-theme="dark"] & {
            color: #bfadad;
          }
        }
      }

      &:hover {
        .buttons-overlay {
          opacity: 1;
          button {
            opacity: 1;
          }
        }
      }
    }

    .filter-tab {
      display: block;
      @media (max-width: 991px) {
        display: none;
      }
    }

    .mob-swiper {
      display: none;
      @media (max-width: 991px) {
        display: block;
      }
      .product-next,
      .product-prev {
        background-color: transparent;
        border: 1px solid #000;
        display: inline-flex;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 30px;
        [dir="ltr"] & {
          transform: rotate(180deg);
        }

        [data-theme="dark"] & {
          border: 1px solid #fff;
          svg {
            filter: brightness(0) invert(1);
          }
        }
      }

      .swiper-bttns {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 35px;
      }
    }
    .mob-swiper {
      .buttons-overlay {
        position: absolute;
        opacity: 1 !important;
        bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        gap: 15px;
        z-index: 9;

        button {
          border: 0px solid transparent;
          background-color: #fff;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 1 !important;
          transition: 0.3s;
          border-radius: 10px;

          img {
            width: 21px;
            height: 21px;
          }

          svg {
            transition: 0.3s;
            filter: brightness(1) invert(0);
          }
        }
      }
    }
  }
}

.sharedModal {
  :global {
    @media (max-width: 1199px) {
      max-width: 85% !important;
    }

    /*start product card*/
    .product-info {
      .stars {
        display: flex;
        align-items: center;
        gap: 15px;
        p {
          color: #040414;
          font-size: 16px;
          font-weight: 400;
          span {
            margin: 0px 5px;
          }
        }
      }

      h4 {
        color: #040414;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
      }

      .product-price {
        display: flex;
        align-items: center;
        gap: 25px;
        margin: 30px 0px;
        .current-price {
          color: #4158f2;
          font-size: 34px;
          font-weight: 700;
        }
        .past-price {
          text-decoration: line-through;
          color: rgba(4, 4, 20, 0.2);
          font-size: 24px;
          font-weight: 500;
        }
      }

      .product-info-desc {
        color: rgba(4, 4, 20, 0.5);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
      }

      .product-options {
        display: flex;
        gap: 21px;
        margin: 30px 0px;

        @media (max-width: 991px) {
          flex-wrap: wrap;
        }

        .Salla-count {
          background-color: #f5f5f5;
          width: 20%;
          height: 45px;
          display: flex;
          border-radius: 10px;
          button,
          span {
            border: 0px solid transparent;
            background-color: transparent;
            width: 33.33%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #040414;
            font-size: 15px;
            font-weight: 600;
          }

          @media (max-width: 991px) {
            width: 35%;
          }
        }

        .add-cart {
          border-radius: 10px;
          background: #4158f2;
          color: #fff;
          border: 0px solid transparent;
          min-width: 135px;
          height: 45px;
          color: #fff;
          font-size: 13px;
          font-weight: 500;
        }

        .favourite {
          border-radius: 10px;
          border: 1px solid #d6d6d6;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          color: #040414;
          font-size: 13px;
          font-weight: 500;
          min-width: 165px;
          height: 45px;
          padding: 5px 15px;
        }
      }

      .buy-button {
        width: 45%;
        height: 45px;
        border-radius: 10px;
        background: #040414;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
        button {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          background-color: transparent;
          border: 0px solid transparent;
        }
      }

      .SKU,
      .calssification {
        display: flex;
        gap: 10px;
        margin: 35px 0px;
        h6 {
          color: #040414;
          font-size: 14px;
          font-weight: 400;
        }

        p {
          color: rgba(4, 4, 20, 0.6);
          font-size: 12px;
          font-weight: 400;
        }
      }

      .calssification {
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
      }

      .info-social {
        margin: 35px 0px;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
        display: flex;
        gap: 10px;
        align-items: center;
        h6 {
          color: #040414;
          font-size: 14px;
          font-weight: 400;
        }
        .social {
          display: flex;
          gap: 10px;

          a {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e1e1e1;

            svg {
              filter: invert(1);
            }

            &:hover {
              color: #4158f2;
              border: 1px solid #4158f2;
              svg {
                filter: auto;
              }
            }
          }
        }
      }
    }
    /*end product card*/

    .main-swiper {
      width: 100%;
      .swiper-slide {
        width: 100%;
        height: 600px;
        @media (max-width: 1199px) {
          height: auto;
          .slide {
            height: 350px;
          }
        }
      }
      .slide {
        width: 100%;
        height: 550px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        @media (max-width: 991px) {
          height: 350px;
        }
      }
      .slide-img {
        width: 50%;
        position: relative;
        overflow: hidden;
        padding-top: 38%;

        img {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
        }
      }
    }

    .sub-slide {
      width: 100%;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
