.features {
  :global {
    width: 100%;
    position: relative;
    z-index: 5;
    margin-top: -100px;

    

    .features-cards {
      background-color: #4158f2;
      padding: 50px 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;

      @media (max-width: 1199px) {
        width: 100%;
        flex-wrap: wrap;
        padding: 25px;
      }

    

      .features-card {
        display: flex;
        margin: 10px 21px;

        svg{
          width: 45px !important;
          height: 45px !important;
        }

        .features-text {
          margin-right: 25px;
          color: #ffffff;

          [dir="ltr"] & {
            margin-right: auto;
            margin-left: 10px;
          }
          h6 {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 600;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            margin-top: 10px;
            color: rgba(255, 255, 255, 0.62);;
          }
        }

        @media (max-width: 767px) {
          margin: 15px 7px;
          width: 100%;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
          margin: 15px 7px;
          width: 42%;
        }
      }
    }
  }
}
