.features {
  :global {
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 5;

    @media (max-width: 767px) {
      height: 500px;
    }

    .feature-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .features-overlay {
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(156, 6, 70, 0.88);
      width: 100%;
      height: 100%;
      [data-theme = "dark"] &{
        background-color: rgba(44, 48, 52 , .95);
      }
    }

    .features-cards {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 90%;
      margin: 180px auto;

      @media (max-width: 1199px) {
        width: 90%;
        flex-wrap: wrap;
        margin: 130px auto;
      }

      @media (min-width: 1200px) and (max-width: 1399px) {
        width: 100%;
        flex-wrap: wrap;
        margin: 180px auto;
      }

      .features-card {
        display: flex;
        margin: 10px 21px;

        @media (max-width: 767px) {
          margin: 15px 7px;
          width: 100%;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
          margin: 15px 7px;
          width: 42%;
        }

        .features-text {
          margin-right: 10px;
          color: #ffffff;

          [dir="ltr"] & {
            margin-right: auto;
            margin-left: 10px;
          }
          h6 {
            font-size: 16px;
            margin-bottom: 5px;
            font-weight: 600;
          }

          p {
            font-size: 13px;
            font-weight: 400;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
