.CheckSection {
  :global {
    display: flex;
    width: 100%;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    .pay-steps {
      width: 50%;
      padding: 1% 3%;

      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 25px;
      }

      .steps-header {
        width: 100%;
        margin: 35px auto;
        display: flex;
        justify-content: space-between;
        align-items :center;

        .steps-breadcramb {
          .bread-links {
            display: flex;

            li,
            a {
              color: #9c0646;
              font-weight: 300;
              font-size: 17px;
              font-weight: 400;

              @media (max-width: 480px) {
                font-size: 15px;
              }

              
              [data-theme="dark"] & {
                color: #fff;
              }

            }

            [dir="ltr"] & {
              span {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }

        .addrss-modal-bttn {
          background-color: transparent;
          color: #9c0646;
          border: 0px solid transparent;
          font-weight: 400;

          
          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }

      .address-container {
        border: 1px solid #d9d9d9;
        border-radius: 5px;

        .address-details {
          padding: 25px;
          display: flex;
          border-bottom: 1px solid #d9d9d9;

          @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;

            h5,
            p {
              width: 100%;
              text-align: center;
              margin-bottom: 15px;
            }

            button {
              margin: 15px auto;
              width: auto;
              min-width: 100px;
              display: inline-block;
            }
          }

          h5 {
            width: 25%;
            color: #aaa;
            font-size: 16px;
            font-weight: 300;
            [data-theme="dark"] & {
              color: #fff;
            }
          }

          p {
            width: 85%;
            color: #2b0000;
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            
            [data-theme="dark"] & {
              color: #fff;
            }
          }

          button {
            width: 15%;
            color: #9c0646;
            font-size: 16px;
            font-weight: 300;
            background-color: transparent;
            border: 0px solid transparent;
          }
        }

        .address-details:last-child {
          border: 0px solid transparent;
        }

        .active {
          background-color: #9c0646;
          color: #fff;

          h5,
          p,
          button {
            color: #fff;
          }
        }
      }

      .pay-method {
        margin: 35px 0px;

        h4 {
          color: #2b0000;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 25px;
          
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        .pay-method-container,
        .cash-container {
          border-radius: 5px;
          border: 1px solid #9c0646;
          padding: 25px;

          [data-theme="dark"] & {
            border: 1px solid #aaa;
          }


          .visa-container,
          .cash-container {

            .pay-visa,
            .pay-cash {
              display: flex;
              justify-content: space-between;

              .visa-types {
                display: flex;
                gap: 10px;
                .visa-type {
                  width: 41px;
                  height: 25px;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                @media (max-width: 480px) {
                  // flex-direction: column;
                  // align-items: flex-end;
                  flex-wrap: wrap;
                  .visa-type {
                    width: 41%;
                  }
                }
              }
            }

            .visa-form {
              margin: 50px 0px;

              form {
                input {
                  margin: 25px 0px;
                  height: 45px;

                  [data-theme="dark"] & {
                    background:  #2c3034;
                  }
      
                }
              }
            }
          }
        }

        .cash-container {
          border: 0px solid transparent;
          border-top: 1px solid #d9d9d9;
          padding-top: 35px 0px;
        }
      }
    }

    .products-pay-details {
      background-color: #f4f5f7;
      width: 50%;

      [data-theme="dark"] & {
        background-color: #17191a;
      }

      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 25px;
      }

      .product-details {
        display: flex;
        justify-content: space-between;
        padding: 25px 0px;
        border-bottom: 1px solid #d9d9d9;
        width: 80%;
        margin: 15px auto;

        h4 {
          color: #2b0000;
          font-size: 16px;
          font-weight: 400;
          
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        .product-img-details {
          display: flex;
          gap: 25px;

          @media (max-width: 767px) {
            gap: 15px;
          }

          .product-img {
            width: 100px;
            height: 100px;

            @media (max-width: 767px) {
              width: 80px;
              height: 80px;
            }

            position: relative;

            img {
              width: 100%;
              height: 100%;
              border-radius: 3px;
            }

            .products-num {
              position: absolute;
              top: -15px;
              right: -15px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #2b0000;
              color: #f4f5f7;
              filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
              border: 1px solid #f4f5f7;
              font-size: 14px;
              
              [data-theme="dark"] & {
                background-color: #000;
              }
            }
          }

          .product-name {
            padding-top: 10px;

            h5 {
              color: #2b0000;
              font-size: 15px;
              font-weight: 400;
              margin-bottom: 15px;
              
              [data-theme="dark"] & {
                color: #fff;
              }
            }

            p {
              color: #aaa;
              font-size: 14px;
              font-weight: 400;
              [data-theme="dark"] & {
                color: #fff;
                
              }
            }
          }
        }
      }

      .products-pay-coupon {
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
        width: 80%;
        margin: 15px auto;
        gap: 15px;

        h5 {
          color: #2b0000;
          font-size: 16px;
          font-weight: 400;
          width: 35%;
          margin-top: 10px;
          
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        .coupon-form {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          background-color: #fff;
          height: 45px;
          [data-theme="dark"] & {
            background:  #2c3034;
          }


          span {
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          input {
            border: 0px solid transparent;
            width: 68%;
            display: inline-block;

            &:focus-visible {
              border: 1px solid #9c0646 !important;
            }

            &:focus {
              border: 1px solid #9c0646 !important;
            }

            [data-theme="dark"] & {
              background:  #2c3034;
            }

            
          }

          button {
            width: 21%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: #9c0646;
            border: 0px solid #9c0646;
            [data-theme="dark"] & {
              color: #fff;
            }

          }
        }

        @media (max-width: 767px) {
          flex-wrap: wrap;

          h5,
          .coupon-form {
            width: 100%;
            margin-bottom: 15px;
          }
        }
      }

      .product-details-total {
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
        width: 80%;
        margin: 5px auto;

        h5,
        h6 {
          color: #2b0000;
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 15px;
          
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        p {
          color: #7e7e7e;
          font-size: 14px;
          font-weight: 400;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }

      .total-price {
        padding-top: 25px;
        border-top: 1px solid #e0e0e0;
      }
    }

    .pay-bttn {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #9c0646;
        color: #fff;
        border-radius: 3px;
        border: 0px solid transparent;
        width: 30%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0px 35px 0px;
      }

      .back-link {
        color: #2b0000;
        font-size: 15px;
        font-weight: 400;
        display: flex;
        gap: 5px;
        margin-top: 21px;
        
        [data-theme="dark"] & {
          color: #fff;
        }

        svg {
          margin: 5px;

          [dir="ltr"] & {
            transform: rotate(180deg);
          }
        }
      }
    }

    .form-check {
      display: flex;
      min-width: 150px;
      gap: 30px;
      [data-theme="dark"] & {
        label{
          color: #fff;
        }
      }
    }

    .cash-method {
      .cash-container {
        padding: 25px 10px !important;
      }
    }
  }
}