.locationModal {
  :global {
    [data-theme="dark"] & {
      .modal-content {
        background-color: #242424 !important;
      }
    }
    .modal-header {
      border-bottom: 0px solid transparent;
      justify-content: center;
      margin-bottom: 0px !important;
      button {
        margin: 15px auto;
        font-size: 18px;
        color: #2b0000 !important;
      }
    }
    .add-modal {
      .form-group {
        margin-bottom: 25px;
      }
      label {
        color: #444;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 10px;
        [data-theme="dark"] & {
          color: #fff;
        }
      }

      input {
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        height: 45px;
        [data-theme="dark"] & {
          background-color: #242424;
        }
      }

      button {
        width: 35%;
        background-color: #4158f2;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 45px;
        margin: 35px auto;
      }
      textarea {
        min-height: 210px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        [data-theme="dark"] & {
          background-color: #242424;
        }
      }
    }
  }
}
