.Checkout {
  :global {
    margin: 100px 0px;
    .address-container {
      border-radius: 10px;
      background: #fbfcff;
      padding: 35px 25px;
      margin-bottom: 30px;
      [data-theme="dark"] & {
        background: #242424;
      }
      @media (max-width: 767px) {
        padding: 35px 5px;
      }
      .address-info {
        display: flex;
        justify-content: space-between;
        h2 {
          color: #040414;
          font-size: 18px;
          font-weight: 600;
          position: relative;
          margin-bottom: 10px;
          [data-theme="dark"] & {
            color: #fff;
          }
          &::after {
            content: "";
            display: block;
            width: 50px;
            height: 3px;
            background-color: #4158f2;
            border-radius: 10px;
            margin-top: 10px;
          }
        }

        button {
          background-color: transparent;
          border: none;
          color: #000;
          font-size: 14px;
          font-weight: 500;
          [data-theme="dark"] & {
            color: #fff;
          }
          @media (max-width: 480px) {
            margin-top: -25px;
          }
        }
      }

      .address-details {
        display: flex;
        justify-content: space-between;
        margin: 21px 0px;
        .details-info {
          h4 {
            color: #141414;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 15px;
            [data-theme="dark"] & {
              color: #fff;
            }
          }
          p {
            color: rgba(68, 68, 68, 0.8);
            font-size: 14px;
            font-weight: 300;
            [data-theme="dark"] & {
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }

        .detailsModal {
          button {
            background-color: transparent;
            border: none;
            color: #000;
            font-size: 14px;
            font-weight: 500;
            [data-theme="dark"] & {
              color: #fff;
              svg {
                filter: brightness(0) invert(1);
              }
            }
            span {
              margin: 0px 5px;
            }
          }

          @media (max-width: 480px) {
            min-width: 30%;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
      .userInfo {
        h4 {
          color: #141414;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 12px;
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        span {
          color: #444;
          font-size: 14px;
          font-weight: 300;
          [data-theme="dark"] & {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }

      .hint {
        display: flex;
        gap: 10px;
        margin-top: 35px;
        p {
          color: rgba(0, 0, 0, 0.7);
          font-size: 12px;
          font-weight: 300;
          [data-theme="dark"] & {
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }

    /*start pay method section*/
    .paymthod-section {
      border-radius: 10px;
      background: #fbfcff;
      padding: 35px 25px;
      margin-bottom: 30px;
      [data-theme="dark"] & {
        background-color: #242424;
      }
      h2 {
        color: #040414;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        margin-bottom: 10px;
        [data-theme="dark"] & {
          color: #fff;
        }
        &::after {
          content: "";
          display: block;
          width: 50px;
          height: 3px;
          background-color: #4158f2;
          border-radius: 10px;
          margin-top: 10px;
        }
      }

      .radio-row {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 45px 0px;
        @media (max-width: 767px) {
          width: 100%;
          flex-wrap: wrap;
          .form-group {
            width: 100%;
            margin-bottom: 15px;
          }
        }

        .form-group {
          border-radius: 25px;
          background: #f6f6f6;
          display: flex;
          justify-content: space-between;
          padding: 10px 21px;
          gap: 10px;
          @media (min-width: 768px) and (max-width: 1200px) {
            padding: 10px;
          }

          label {
            display: flex;
            gap: 10px;
            @media (min-width: 768px) and (max-width: 1200px) {
              gap: 5px;
            }
          }
        }

        label {
          display: flex;
          cursor: pointer;
        }
        @media (min-width: 768px) and (max-width: 1400px) {
          width: 100% !important;
        }
      }

      .form-content {
        .form-group {
          position: relative;
          margin-bottom: 25px;
          label {
            color: #444;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 15px;
            [data-theme="dark"] & {
              color: #fff;
            }
          }
          input {
            border-radius: 10px;
            border: 1px solid #e8e8e8;
            background: #fff;
            height: 50px;
            [data-theme="dark"] & {
              background-color: #242424;
            }
            &:focus {
              box-shadow: 0px 0px 0px transparent;
              border: 1px solid #4158f2;
            }
            &::placeholder {
              padding: 14px 21px;
              color: rgba(4, 4, 20, 0.37);
              font-size: 14px;
              font-weight: 400;
              [data-theme="dark"] & {
                color: rgba(255, 255, 255, 0.7);
              }
            }
          }

          span {
            position: absolute;
            top: 50px;
            left: 15px;
            [dir="ltr"] & {
              left: auto;
              right: 15px;
            }
          }
        }
      }
    }
    /*end pay method section*/

    /*start Summary section*/
    .products-summary {
      padding: 0px 30px;
      width: 100%;
      margin-bottom: 45px;
      @media (max-width: 767px) {
        padding: 0px;
      }
      .product-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
          flex-wrap: wrap;
        }

        .product-details {
          display: flex;
          gap: 30px;
          min-width: 33.33%;

          @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 15px;
          }

          @media (min-width: 991px) and (max-width: 1200px) {
            gap: 10px;
          }
          .product-image {
            width: 65px;
            height: 65px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }

          .userInfo {
            .name {
              color: #4158f2;
              font-size: 16px;
              font-weight: 500;
              margin: 5px 0px;
            }
            .price {
              color: #444;
              font-size: 16px;
              font-weight: 500;
              [data-theme="dark"] & {
                color: #fff;
              }
            }
          }
        }

        .product-counter {
          display: flex;
          width: 80px;
          height: 35px;
          align-items: center;
          justify-content: center;
          border-radius: 40px;
          border: 1px solid #eaeaea;
          padding: 14px 15px;
          gap: 15px;
          [data-theme="dark"] & {
            span {
              color: #fff;
            }
          }
          .counter-buutons {
            display: flex;
            flex-direction: column;

            button {
              background-color: transparent;
              border: none;
              width: 30px;
              height: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              [data-theme="dark"] & {
                svg {
                  filter: brightness(0) invert(1);
                }
              }
            }
          }
        }

        .total {
          color: #444;
          font-size: 16px;
          font-weight: 600;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }
    }

    .total-pay {
      border-radius: 10px;
      background: #fbfcff;
      padding: 45px 35px;
      [data-theme="dark"] & {
        background: #242424;
      }
      .total-row {
        display: flex;
        justify-content: space-between;
        p {
          color: #444;
          font-size: 16px;
          font-weight: 500;
          [data-theme="dark"] & {
            color: rgba(255, 255, 255, 1);
          }
        }
        h5 {
          color: #444;
          font-size: 16px;
          font-weight: 800;
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        h6 {
          color: #444;
          font-size: 16px;
          font-weight: 600;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }
    }
    .total-form {
      margin: 30px 0px;
      form {
        label {
          color: #444;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 15px;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
        .coupon {
          border-radius: 10px;
          border: 1px solid #e6e6e6;
          width: 100%;
          height: 65px;
          display: flex;
          padding: 0px;
          input {
            border: none;
            width: 75%;
            border-radius: 10px;
            padding: 10px 15px;
            [data-theme="dark"] & {
              background-color: #242424;
              border-radius: 10px 0px 0px 10px;
              color: #fff;
            }
            &::placeholder {
              padding: 10px 15px;
              [data-theme="dark"] & {
                color: #fff;
              }
            }
          }
          button {
            border-radius: 10px;
            border: 0px solid #f6f6f6;
            background: #444;
            width: 25%;
            height: 100%;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            [data-theme="dark"] & {
              background-color: #242424;
              border-radius: 0px 10px 10px 0px;
            }

            @media (max-width: 767px) {
              width: 42%;
            }
          }
        }
      }
    }

    .submit-order {
      width: 100%;
      margin: 30px 0px;
      button {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        background: #4158f2;
      }
    }
    /*end Summary section*/

    .line {
      width: 100%;
      height: 1px;
      background: #e6e6e6;
      margin: 30px 0px;
    }
  }
}


