.questionComponent {
  :global {
    margin: 100px 0px;

    .questions-block {
      .questions-block-title {
        background: #f4f5f7;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin-bottom: 70px;
        [data-theme="dark"] & {
          background-color: #17191a;
          h2{
            color: #fff;

          }
        }
        h2 {
          color: #000;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }

    
  }
}
