.aboutpage {
  :global {
    margin: 100px 0px 100px 0px;
    .about-intro {
      .intro-content {
        margin-top: 30px;
        h4 {
          color: #4158f2;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        h6 {
          color: #111;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 30px;
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        .intro-desc {
          color: #888;
          font-size: 16px;
          font-weight: 300;
          margin: 30px 0px;
          line-height: 2.1;
          [data-theme="dark"] & {
            color: #d3c2c2;
          }
        }

        ul {
          columns: 2;
          @media (max-width : 991px) {
            columns: 1;
          }
          li {
            display: flex;
            gap: 25px;
            margin-bottom: 30px;
            @media (max-width: 1199px) {
              gap: 10px;
            }
            p {
              color: #888;
              font-size: 16px;
              font-weight: 300;
              [data-theme="dark"] & {
                color: #d3c2c2;
              }

              @media (min-width : 992px) and (max-width : 1199px){
                font-size: 14px;
              }
            }

            [dir = "ltr"] &{
              span{
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      .intro-img {
        width: 100%;
        height: 450px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .intro-banner {
      width: 100%;
      position: relative;
      padding-top: 21%;
      overflow: hidden;
      margin: 90px 0px;
      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }

      @media (min-width : 992px) and (max-width : 1199px) {
        padding-top: 25%;

      }
    }

    .vision {
      .vision-img {
        width: 100%;
        height: 450px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .vision-content {
        margin-left: 30px;

        h4 {
          color: #4158f2;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        h6 {
          color: #111;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 30px;
          [data-theme="dark"] & {
            color: #fff;
            font-size: 22px;
          }
        }

        p {
          color: #888;
          font-size: 16px;
          font-weight: 400;
          line-height: 2.2;
          [data-theme="dark"] & {
            color: #d3c2c2;
          }
        }

        .quote {
          display: flex;
          margin: 30px 0px;
          &:before {
            content: "";
            display: inline-block;
            width: 3px;
            height: 55px;
            background-color: #4158f2;
            margin-top: 5px;
          }
          p {
            display: inline-block;
            margin-right: 15px;
            color: #888;
            font-size: 16px;
            font-weight: 500;
            [dir = "ltr"] & {
              margin-right: 0px;
              margin-left: 15px;
            }
          }
        }

        @media (max-width: 767px) {
          margin-top: 30px;
        }
      }
    }

    .testminals {
      margin: 100px 0px;
      .testminals-title {
        width: max-content;
        display: flex;
        gap: 50px;
        margin: 0px auto;
        position: relative;

        &::after {
          content: "";
          width: 45px;
          height: 4px;
          background: #4158f2;
          margin: 50px auto 50px auto;
          display: block;
          position: absolute;
          top: 30px;
          left: calc(50% - 45px);
          right: calc(50% - 45px);
        }

        h4 {
          color: #202020;
          text-align: center;
          font-size: 34px;
          font-weight: 500;
          [data-theme="dark"] & {
            color: #fff;
          }

          @media (max-width: 1024px) {
            margin: auto;
          }
        }

        .test-img {
          margin-top: 15px;
          @media (max-width: 1024px) {
            display: none;
          }

          [dir = "ltr"] & {
            img{
              transform: rotate(180deg);

            }
          }
        }
      }

      .testminals-slider {
        margin: 130px 0px;

        .testminals-card {
          display: flex;
          gap: 30px;
          @media (max-width: 991px) {
            flex-wrap: wrap;
          }
          @media (min-width : 1200px) and (max-width : 1400px) {
            gap : 21px;
          }
          .test-card-img {
            width: 30%;
            height: 250px;
            border-radius: 10px;
            @media (max-width: 991px) {
              width: 60%;
              margin: auto;
            }
            @media (min-width : 1200px) and (max-width : 1400px) {
              width: 35%;
            }
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }

          .test-card-content {
            width: 70%;

            @media (max-width : 991px) {
              width: 95%;
              margin: auto;
            }

            .test-symbol{
              svg{
                [dir = "ltr"] &{
                  transform: rotate(180deg);
                }
              }
            }
            p {
              color: #202020;
              font-size: 16px;
              font-weight: 400;
              margin: 15px 0px;
              width: 80%;
              [data-theme="dark"] & {
                color: #d3c2c2;
              }
              @media (max-width : 991px) {
                width: 100%;
              }
            }

            h4 {
              color: #202020;
              font-size: 16px;
              font-weight: 600;
              margin: 15px 0px 5px 0px;
              [data-theme="dark"] & {
                color: #d3c2c2;
              }
            }

            h6 {
              color: #808080;
              font-size: 14px;
              font-weight: 400;
              margin-top: 5px;
              [data-theme="dark"] & {
                color: #fff;
              }
            }
          }
        }
        .mainSwiper {
          padding-bottom: 100px;
        }

        .swiper-pagination-bullets {
          width: 11%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px auto;
          border-radius: 10px;
          right: 39%;
          left: 39%;
          [data-theme="dark"] & {
            background-color: #f8f9fa;
          }

          .swiper-pagination-bullet-active {
            background-color: #4158f2;
            width: 25px;
            height: 10px;
            border-radius: 10px;
          }

          @media (max-width: 480px) {
            width: 45%;
            left: calc((100% - 45%) / 2);
            right: calc((100% - 45%) / 2);
          }
    
          @media (min-width: 481px) and (max-width: 991px) {
            width: 25%;
            left: calc((100% - 25%) / 2);
            right: calc((100% - 25%) / 2);
          }
        }

        .swiper-slide {
          opacity: 0.5;
        }

        .swiper-slide-active {
          opacity: 1;
        }
      }
    }
  }
}
