.introSection {
  :global {
    background-color: #f6f6ff;
    padding: 35px 0px 150px 0px;
    [data-theme = "dark"] &{
      background-color: #17191a!important;;
    }
    .intro-cards {
      .intro-card {
        position: relative;
        margin-bottom: 30px;
        .intro-card-img {
          position: relative;
          padding-top: 60%;
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
          transition: all ease-in-out .2s;
          &:hover{
            transform: scale(1.03);
          }
        }
        img {
          position: absolute;
          inset: 0;
          height: 100%;
          width : 100%;
          border-radius: 10px;
        }
      }

      // @media (min-width : 768px) and (max-width : 991px) {
      //   display : flex;
      //   justify-content: space-between;
      //   .intro-card-img {
      //     width : 45%;
      //   }
      // }
    }

    .intro-overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    .intro-swiper {
      margin-bottom: 25px;
      .slide {
        .swiper-card {
          position: relative;
          border-radius: 10px;
          .swiper-card-img {
            position: relative;
            padding-top: 62%;
            border-radius: 10px;
            overflow: hidden;
            img {
              position: absolute;
              inset: 0;
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
          }
        }
      }

      .swiper-pagination-bullets {
        max-width: 115px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        border-radius: 10px;
        right: 39%;
        left: 39%;
        border-radius: 10px;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.15);
        bottom: 60px;
        [data-theme = "dark"] & {
          background-color: #f8f9fa;
        }

        .swiper-pagination-bullet {
          background-color: #c7c7c7 !important;
          opacity: 1;
        }

        .swiper-pagination-bullet-active {
          background-color: #4158f2 !important;
          width: 25px;
          height: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}
