.productDetails {
  :global {
    margin: 60px 0px;
    .main-swiper {
      width: 100%;
      .swiper-slide {
        width: 100%;
        height: 600px;
      }
      .slide {
        width: 100%;
        height: 550px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        [data-theme="dark"] & {
          background-color: #242424;
        }
      }
      .slide-img {
        width: 50%;
        position: relative;
        overflow: hidden;
        padding-top: 38%;

        img {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
        }
      }
    }

    .sub-slide {
      width: 100%;
      height: 150px;

      .sub-slide-img {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 1199px) {
        width: 100%;
        height: 80px;
        margin-bottom: 25px;
      }
    }

    /*start product card*/
    .product-info {
      .stars {
        display: flex;
        align-items: center;
        gap: 15px;
        p {
          color: #040414;
          font-size: 16px;
          font-weight: 400;
          span {
            margin: 0px 5px;
          }

          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }

      h4 {
        color: #040414;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
        [data-theme="dark"] & {
          color: #fff;
        }
      }

      .product-price {
        display: flex;
        align-items: center;
        gap: 25px;
        margin: 30px 0px;
        .current-price {
          color: #4158f2;
          font-size: 34px;
          font-weight: 700;
        }
        .past-price {
          text-decoration: line-through;
          color: rgba(4, 4, 20, 0.2);
          font-size: 24px;
          font-weight: 500;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }

      .product-info-desc {
        color: rgba(4, 4, 20, 0.5);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
        [data-theme="dark"] & {
          color: #fff;
        }
      }

      .product-options {
        display: flex;
        gap: 21px;
        margin: 30px 0px;
        @media (max-width: 480px) {
          flex-wrap: wrap;
        }

        .Salla-count {
          background-color: #f5f5f5;
          width: 20%;
          height: 45px;
          display: flex;
          border-radius: 10px;
          button,
          span {
            border: 0px solid transparent;
            background-color: transparent;
            width: 33.33%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #040414;
            font-size: 15px;
            font-weight: 600;
          }
          @media (max-width: 480px) {
            width: 29%;
          }
        }

        .add-cart {
          border-radius: 10px;
          background: #4158f2;
          color: #fff;
          border: 0px solid transparent;
          min-width: 135px;
          height: 45px;
          color: #fff;
          font-size: 13px;
          font-weight: 500;
        }

        .favourite {
          border-radius: 10px;
          border: 1px solid #d6d6d6;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          color: #040414;
          font-size: 13px;
          font-weight: 500;
          min-width: 165px;
          height: 45px;
          padding: 5px 15px;
        }
      }

      .buy-button {
        width: 45%;
        height: 45px;
        border-radius: 10px;
        background: #040414;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
        button {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          background-color: transparent;
          border: 0px solid transparent;
        }
      }

      .SKU,
      .calssification {
        display: flex;
        gap: 10px;
        margin: 35px 0px;
        h6 {
          color: #040414;
          font-size: 14px;
          font-weight: 400;
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        p {
          color: rgba(4, 4, 20, 0.6);
          font-size: 12px;
          font-weight: 400;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }

      .calssification {
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
      }

      .info-social {
        margin: 35px 0px;
        padding-bottom: 30px;
        border-bottom: 1px solid #eaeaea;
        margin-top: 21px;
        display: flex;
        gap: 10px;
        align-items: center;
        h6 {
          color: #040414;
          font-size: 14px;
          font-weight: 400;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
        .social {
          display: flex;
          gap: 10px;

          a {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e1e1e1;

            svg {
              filter: invert(1);
            }

            &:hover {
              color: #4158f2;
              border: 1px solid #4158f2;
              svg {
                filter: auto;
              }
            }
          }
        }
      }
    }
    /*end product card*/

    /*start accordion section*/
    .product-accordion {
      .accordion-button:not(.collapsed),
      .accordion-button:focus {
        background-color: transparent !important;
        box-shadow: 0px 0px 0px transparent;
      }
      .accordion-button {
        padding: 10px 0px;
      }

      .accordion-body {
        border-bottom: 1px solid #eaeaea;
        padding: 10px 0px;
        [data-theme="dark"] & {
          background-color: #242424;
        }
      }
      .accordion-item {
        border: 0px solid transparent;
        box-shadow: 0px 0px 0px transparent;
        margin-bottom: 35px;
        border-radius: 5px;
        padding: 10px;

        [data-theme="dark"] & {
          background-color: #242424;
          border-bottom: none;
        }

        .accordion-button {
          &::after {
            position: absolute;
            left: 0px;
          }
        }

        .product-details {
          p {
            color: rgba(4, 4, 20, 0.5);
            font-size: 14px;
            font-weight: 300;
            line-height: 1.7;
            margin: 25px 0px;
            [data-theme="dark"] & {
              color: #fff;
            }
          }

          .product-img {
            width: 100%;
            height: 215px;
            border-radius: 10px;
            margin: 25px 0px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
          }

          [data-theme="dark"] & {
            background-color: #242424;
          }
        }
      }

      .shipping-rules {
        list-style-type: decimal;
        padding: 0px 25px;
        li {
          color: rgba(4, 4, 20, 0.5);
          font-size: 14px;
          font-weight: 300;
          margin: 10px 0px;
          [data-theme="dark"] & {
            color: #fff;
          }
        }
      }

      .product-comments {
        .actual-comment {
          width: 100%;
          margin: 35px auto;
          padding: 21px 35px;
          background-color: #f8f8f8;
          border-radius: 10px;
          [data-theme="dark"] & {
            box-shadow: 0px 0px 2px #e4e6eb;
            background-color: #242424;
          }

          @media (max-width: 767px) {
            width: 100%;
          }

          .comment-details {
            display: flex;
            justify-content: space-between;
            .comment-user {
              display: flex;
              gap: 10px;

              .user-img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .user-details {
                h5 {
                  color: #444;
                  font-size: 14px;
                  font-weight: 400;
                  margin-bottom: 14px;
                  [data-theme="dark"] & {
                    color: #fff;
                  }
                }

                p {
                  font-size: 11px;
                  font-weight: 300;
                  [data-theme="dark"] & {
                    color: #aaa;
                  }
                }
              }
            }
          }
          .comment-desc {
            width: 90%;
            margin: 15px auto;

            @media (max-width: 767px) {
              width: 100%;
            }

            p {
              color: #646464;
              font-size: 14px;
              font-weight: 300;
              [data-theme="dark"] & {
                color: #fff;
              }
            }
          }
        }

        .more-comments {
          width: 100%;
          text-align: center;
          button {
            background-color: transparent;
            border: 1px solid transparent;
            color: var(--4158-f-2, #4158f2);
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            margin: 0px auto 21px auto;
          }
        }
        .comment-form {
          p {
            color: #040414;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 30px;
            [data-theme="dark"] & {
              color: #fff;
            }
          }
          form {
            h4 {
              color: #040414;
              font-size: 14px;
              font-weight: 500;
              margin-bottom: 10px;
              [data-theme="dark"] & {
                color: #fff;
              }
            }
            .rc-rate {
              cursor: pointer;
              margin: 10px 0px 30px 0px;
            }

            .form-group {
              margin-bottom: 21px;
              label {
                color: #040414;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
                [data-theme="dark"] & {
                  color: #fff;
                }
              }
              input {
                border-radius: 4px;
                border: 1px solid #eee;
                height: 45px;
                [data-theme="dark"] & {
                  background-color: #242424;
                }
              }

              textarea {
                min-height: 180px;
                [data-theme="dark"] & {
                  background-color: #242424;
                }
              }
            }

            .comment-submit {
              margin: 21px 5px;
              border-radius: 8px;
              background-color: #040414;
              border: 0px solid transparent;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-size: 16px;
              font-weight: 600;
              height: 50px;
              width: 25%;
              padding: 15px 21px;
            }
          }
        }
      }
    }
    /*end accordion section*/

    /*start related products*/
    .related {
      margin: 100px 0px;
      .section-title {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;

        h2 {
          color: #040414;
          font-size: 28px;
          font-weight: 700;
          display: flex;
          align-items: center;
          width: 85%;
          padding-top: 15px;

          [data-theme="dark"] & {
            color: #fff;
          }

          @media (max-width: 1199px) {
            font-size: 19px;
            font-weight: 500;
            width: 73%;
          }

          &::before {
            content: "";
            width: 50px;
            height: 10px;
            background-color: #4158f2;
            display: inline-block;
            margin: 0px 0px 0px 15px;
            border-radius: 10px;
            transform: rotate(90deg);
            @media (max-width: 480px) {
              margin: 0px;
            }
          }

          &::after {
            content: "";
            width: 65%;
            height: 2px;
            background-color: #d3d3d3;
            margin-right: 35px;
            display: inline-block;
            @media (max-width: 991px) {
              display: none;
            }
          }
        }

        .title-button {
          border-radius: 10px;
          border: 1px solid #000;
          opacity: 0.3;
          color: #000;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          padding: 15px 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          [data-theme="dark"] & {
            border: 1px solid #fff;
            color: #fff;
            opacity: 1;
          }

          @media (max-width: 1199px) {
            font-size: 15px;
            padding: 0px;
            width: 150px;
            height: 45px;
            margin-top: 15px;
          }
        }
      }

      .main-card {
        background-color: #f6f6f6;
        border: 10px;
        padding: 21px;
        margin-bottom: 30px;
        width: 100%;
        min-height: 500px;
        border-radius: 10px;
        [data-theme="dark"] & {
          background-color: #242424;
        }

        .main-card-img {
          position: relative;
          width: 100%;
          height: 80%;
          [data-theme="dark"] & {
            background-color: #fff;
            border-radius: 10px;
            img {
              border-radius: 10px;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .buttons-overlay {
            position: absolute;
            opacity: 0;
            bottom: 10px;
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: row;
            z-index: 1;
            transition: all 0.3s ease-in-out;
            gap: 15px;
            z-index: 9;

            button {
              border: 0px solid transparent;
              background-color: #fff;
              border-radius: 50%;
              width: 35px;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 0;
              transition: 0.3s;
              border-radius: 10px;
              &:nth-of-type(2) {
                transition-delay: 0.1s;
              }
              &:nth-of-type(3) {
                transition-delay: 0.2s;
              }
              &:nth-of-type(4) {
                transition-delay: 0.3s;
              }

              img {
                width: 21px;
                height: 21px;
              }

              svg {
                transition: 0.3s;
                filter: brightness(1) invert(0);
              }

              &:hover {
                background-color: #4158f2;
                color: #fff;
                svg {
                  filter: brightness(0) invert(1);
                }
              }
            }
          }
          .overlay-link {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
          }
        }

        .main-card-title {
          color: #040414;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          margin: 30px auto 15px auto;
          display: block;
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        .main-card-desc {
          color: rgba(0, 0, 0, 0.5);
          text-align: center;
          font-size: 16px;
          font-weight: 300;
          margin: 15px auto;
          [data-theme="dark"] & {
            color: #fff;
          }
        }

        .stars {
          margin: 15px 0px;
          text-align: center;
        }

        .main-card-price {
          display: flex;
          gap: 15px;
          margin: 15px auto;
          justify-content: center;

          .current-price {
            color: #040414;
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            [data-theme="dark"] & {
              color: #fff;
            }
          }

          .past-price {
            color: rgba(32, 32, 32, 0.3);
            font-size: 14px;
            font-weight: 400;
            text-decoration: line-through;
            [data-theme="dark"] & {
              color: #bfadad;
            }
          }
        }

        &:hover {
          .buttons-overlay {
            opacity: 1;
            button {
              opacity: 1;
            }
          }
        }
      }

      .mainSwiper {
        padding-bottom: 100px;
      }

      .swiper-pagination-bullets {
        width: 11%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        border-radius: 10px;
        border: 1px solid rgba(65, 88, 242, 0.2);
        right: 39%;
        left: 39%;
        [data-theme="dark"] & {
          background-color: #f8f9fa;
        }

        @media (max-width: 480px) {
          width: 45%;
          left: calc((100% - 45%) / 2);
          right: calc((100% - 45%) / 2);
        }

        @media (min-width: 481px) and (max-width: 991px) {
          width: 25%;
          left: calc((100% - 25%) / 2);
          right: calc((100% - 25%) / 2);
        }

        .swiper-pagination-bullet-active {
          background-color: #4158f2;
          width: 25px;
          height: 10px;
          border-radius: 10px;
        }
      }
    }
    /*end related products*/

    .accordion-header {
      height: 45px;
      padding: 0px 10px;
      background-color: #242424;
      border-radius: 2px 2px 0px 0px;
      button {
        padding: 20px 5px;
        [data-theme="dark"] & {
          background-color: #242424;
          color: #fff;
          &::after {
            svg {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }
  }
}
